* {
  box-sizing: border-box;
}

.body_content {
  display: flex;
  width: 100%;
}

.body_content--left-panel {
  width: 300px;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: scroll;
}

.body_content--right-panel {
  margin-left: 300px;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: calc(100% - 600px);
}

.body_content__tab {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  padding: 7px 5px;
  margin-bottom: 5px;
  .btn {
    margin-right: 5px;
  }
}

.body_content--controls {
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  border-left: 1px solid #ccc;
  background-color: white;
}

.body_content--timeline {
  width: 100%;
  min-height: 130px;
  position: relative;
  margin: 0 0 10px 5px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
}

.body_content--timeline-wrapper {
  overflow: scroll;
  max-height: 130px;
}

.body_content--timeline__buttons {
  margin: 0 0 5px 5px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  .btn {
    margin-right: 5px;
  }
}

#canvasOutput {
  width: 722px;
  height: calc(100vh - 180px);
  margin: auto;
  border: 1px solid #ccc;
  margin-left: 5px;
}

#cropCanvas {
  border: 1px solid #ccc;
}


.anmation_frame_obj {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  padding-left: 5px;
  overflow: hidden;
  z-index: 10;
}
.anmation_frame_obj--selected {
  border:  1px solid blue;
}

.anmation_frame_out_image {
  text-align: center;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

.mainCanvas {
  position: relative;
  border: 1px solid #ccc;
  width: 802px;
  height: 452px;
  margin: auto;
  &:focus {
    outline: none;
    border: 1px solid #007bff;
  }
  .canvas-absolute-div {
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: transparent;
  }
  &__wrapper {
    height: 700px;
    border: 1px solid #ccc;
    text-align: center;
    overflow: scroll;
    padding-top: 10px;
  }
  canvas {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.pre-defined-animation-controls-table {
  font-size: 0.9em;
  &__btns{
    .btn {
     margin-right: 5px;
    }
    text-align: right;
    width: 140px;
  }
}

.card-body--title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .card-title {
    margin-bottom: 0.5em;
  }
  span.fas {
    font-size: 2em;
    margin-top: -2px;
    cursor: pointer;
  }
  span.fas:hover {
    color:#007bff;
  }
}

.card-body--form {
  margin-top: 8px;
  font-size: 0.9em;
}

.col-sm-bone-field {
  padding-left: 5px;
  padding-right: 0px;
}

.animation-form--actions {
  .btn {
   margin-right: 10px;
  }
  text-align: right;
}
